@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, hsla(0, 0%, 20%, 0.65), hsla(0, 0%, 20%, 0.75));
}
#calculator{
  font-size: 4rem;
  max-width: 400px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 12px 12px 30px 2px #191919;
}
#display{
  width: 100%;
  height: 60px;
  padding: 20px;
  text-align: left;
  font-size: 3.5rem;
  border: none;
  margin-bottom: 0;
  background-color: #333333;
  color: rgba(245, 245, 245, 0.87);
  border-radius: 15px 15px 0px 0px;
}
#keypad{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
  background-color: #262626;
}
button{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.operation-btn{
  background-color: hsl(35, 100%, 56%);
}
.operation-btn:hover{
  background-color: hsl(35, 100%, 66%);
  box-shadow: 4px 4px 10px 2px  hsl(35, 100%, 36%);
}
.number-btn{
  background-color: hsl(0, 0%, 31%);
}
.number-btn:hover{
  background-color: hsl(0, 0%, 41%);
  box-shadow: 4px 4px 10px 2px  hsl(0, 0%, 31%);
}